.elenco-bg {
    background-color: var(--bg-alt); /* Color DFD7BF applied */
    padding-top: 1.5rem;   /* Bastante reduzido o fundo pro celular verde caixa */
    padding-bottom: 1rem; /* Bastante reduzido o fundo pro celular */
}

@media (min-width: 1024px) {
    .elenco-bg {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.elenco-carousel {
    display: flex;
    gap: 20px;
    margin-top: 1.5rem;
    padding-bottom: 20px; /* Área para não cortar sombras/barras */
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Fluidez máxima no Safari/iPhone */
    
    /* Esconder a barra de rolagem visualmente, mas manter a função */
    scrollbar-width: none; 
}

.elenco-carousel::-webkit-scrollbar {
    display: none;
}

/* Transparência esfumaçada no final (lado direito) do carrossel indicando que tem mais atores horizontais */
.elenco-carousel {
    -webkit-mask-image: linear-gradient(to right, black calc(100% - 80px), transparent 100%);
    mask-image: linear-gradient(to right, black calc(100% - 80px), transparent 100%);
    user-select: none; /* Bloqueia a seleção azul irritante do Windows enquanto arrasta */
}

.ator {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ator img {
    width: 190px !important; /* Força 190px ignorando os 100% do OwlCarousel */
    height: 190px !important;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
    object-fit: cover;
    -webkit-user-drag: none; /* Bloqueia o navegador de tentar arrastar a foto pra fora do site como um arquivo */
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.ator h3 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 0.2rem;
    font-weight: 700;
    line-height: 1.1;
}

.ator p {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
}
